.home-page {
  overflow-x: hidden;
  background-color: #1a1a1a;
  color: rgb(230, 230, 230);
  
}

.hero {
  background-color: #1a1a1a;
  ;
  padding: 4rem 0;
}

.bg-gradient-primary {
  background-color: #1a1a1a;
 
}

.bg-gradient-secondary {
  background-color: #1a1a1a;
}

.features .card {
  transition: transform 0.3s;
}

/* .features .card:hover {
  transform: translateY(-5px);
} */

.cta {
  background-color: #1a1a1a;
   
}